.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 20px;
    background: rgba(255, 255, 255, 0);
    align-items: center;
    display: flex;
    justify-content: space-between;
    z-index: 1000;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
  }
  
  .logo-wrapper {
    display: flex;
    align-items: center;
    margin-left: 20px;
    height: 100%;
  }
  
  .nav-list {
    display: flex;
    gap: 50px;
    list-style: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
    align-items: center;
  }
  
  .nav-link {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
  }
  
  .nav-item {
    cursor: pointer;
    transition: 0.3s ease-in-out;
  }

  .nav-item:hover {
    color: #ffffff; 
    transform: scale(1); 
    text-shadow: 0 0 10px rgb(255, 255, 255); 
  }
  
  .resume-item {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding: 5px 10px 10px;
    border: 2px solid lightblue;
    border-radius: 5px;
  }

  .resume-item:hover {
    color: #ffffff; 
    transform: scale(1); 
    text-shadow: 0 0 10px rgb(255, 255, 255); 
  }
  
  .hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
  }
  
  .bar {
    width: 20px;
    height: 3px;
    background-color: white;
    margin: 5px;
    transition: 0.4s;
  }
  

  @media (max-width: 600px) {
    .hamburger {
      display: flex;
    }
  
    .nav-list {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 60px;
      right: 20px;
      background: rgba(0, 0, 0, 0.9);
      width: 200px;
      padding: 10px;
      border-radius: 5px;
    }
  
    .nav-list.open {
      display: flex;
    }
  }
  