/* github link */

.github-container {
  position: fixed;
  right: 5%;
  bottom: 0%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.github-link {
  writing-mode: vertical-rl;
  text-decoration: none;
  font-size: 16px;
  color: yellow;
  font-weight: bold;
  transition: 0.3s ease-in-out;
}

.github-line {
  width: 2px;
  height: 100px;
  background-color: yellow;
  margin-top: 15px;
  margin-left: -4px;
}

.github-link:hover {
  color: #ffffff; 
  transform: scale(1); 
  text-shadow: 0 0 10px rgb(255, 255, 255); 
}

/* Common Section details */

.page {
  background: black;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: 10vw;
  color: white;
  position: relative;
  z-index: -1;
}

.sectionHeading {
  font-Size: 32px;
  font-Weight: bold;
  text-Align: center;
  position: relative;
  padding-Top: 50px;
  width: 100%;
  max-Width: 400px;
  color: yellow;
  border-Bottom: 2px solid yellow;
}

.welcomeSection {
  position: absolute;
  top: 25vh;
  left: 10vw;
  max-width: 600px;
  color: white;
}

.smallText1 {
  font-size: 20px;
  margin-bottom: 5px;
  color: white;
}

.largeText {
  font-size: 50px;
  font-weight: bold;
  margin: 5px 0;
  color: yellow;
}

.description {
  font-size: 18px;
  line-height: 1.5;
  margin-top: 20px;
}

.section {
  background: black;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  padding: 50px;
}

.textSection {
  flex: 1;                 
  padding-right: 20px;  
  width: 100%;
}


/* Profile section */

  .profileContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 75%;
    color: white;
    padding-top: 20px;
  }

  .photoSection {
    flex: 0.4;                
    display: flex;
    justify-content: center; 
    align-items: center;
    transition: width 0.3s ease;

  }

  .profileDescription {
    font-size: 18px;
    line-height: 1.5;
  }

  .photo-wrapper {
    position: relative;
    width: 200px;
    height: 200px;
    transition: all 0.3s ease;
   
  }

  .profilePhoto {
    width: 200px;
    height: 200px;
    border-radius: 25%;
    transition: all 0.3s ease;
    z-index: 2; 
    box-shadow: 2px 2px 2px rgba(255, 255, 0, 0.7);
  }

  .photo-wrapper-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: lightblue;
    opacity: 0.4;
    transition: opacity 0.3s ease;
    border-radius: 25%;
  }
  
  .photo-wrapper:hover .photo-wrapper-overlay {
    opacity: 0; 
  }

  .tech-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 20px; 
    justify-content: center; 
    align-items: center;
    margin-top: 20px; 
  }
  
  .tech-item {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .spinning-container {
    display: inline-block;
    position: relative;
    width: 24px;
    height: 24px;
  }
  
  .spinning-circle {
    width: 24px;
    height: 24px;
    border: 2px solid yellow;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    animation: spinToCheck 5s ease-out forwards;
  }
  
  .spinning-circle::after {
    content: "";
    width: 10px;
    height: 2px;
    background: yellow;
    position: absolute;
    top: 50%;
    right: -10px;
    transform-origin: left center;
  }
  

  .checkmark {
    font-size: 24px;
    color: yellow;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    animation: appear 0s linear 5s forwards;
  }

  /* Experience section */

  .experience-section {
    background: black;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
    padding: 50px;
    width: 100%;
  }

  .experience-container {
    display: flex;
    max-width: 80%;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
  }

  
  .employer-list {
   display: flex;
    flex-direction: column;
   gap: 10px;
    width: 200px;
    max-height: 300px; 
   overflow-y: auto; 
   padding-right: 10px;
  }


.employer-item {
  padding: 20px;
  font-size: 14px;
  background-color: #000000;
  color: white;
  cursor: pointer;
  border-left: 4px solid transparent; 
  border-right:#000000;
  border-top:#000000;
  border-bottom:#000000;
  transition: all 0.2s ease;
}

.employer-item:hover {
  background-color: #95a318;
}


.employer-item.selected {
  border-left: 4px solid yellow;
  font-weight: bold;
}


.job-description {
  flex: 1;
  height: 400px;
  width: 100%;
  background-color: #000000;
  color: white;
  border-radius: 10px;
  text-align: left; 
  opacity: 1; 
  transition: opacity 0.2s ease-in-out;
  box-sizing: border-box;  
  overflow-wrap: break-word; 
}

.job-description.fade-out {
  opacity: 0;  
}

.job-description.fade-in {
  opacity: 1;  
}

.job-title {
 padding-top: 10px;
 margin-bottom: 1rem;
}

.job-date {
  margin-bottom: 1rem;
}

/* Project section */

.projectPhoto{
    width: 100%;
    height: auto;
    border-radius: 10px;
    transition: all 0.3s ease;
    display: block;
}

.projectWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 80%;
  max-width: 1000px;
}

.imageContainer {
  position: relative;
  width: 60%;
  max-width: 600px;
}

.projectDetails {
  position: relative; 
  width: 50%;
  padding: 20px;
  color: white;
  z-index: 2; 
  margin-left: -50px; 
  text-align: right;
}

.projectTitle {
  font-size: 18px;
  font-weight: bold;
}

.featuredText {
  font-size: 14px;
  color: #95a318;
  text-transform: uppercase;
  font-weight: bold;
}

.projectName {
  font-size: 24px;
  font-weight: bold;
  color: yellow;
}

.projectDescription {
  background: #000000;
  opacity: 0.8;
  padding: 25px;
  border-radius: 8px;
  margin-top: 10px;
}

.projectTech {
  font-size: 14px;
  margin-top: 10px;
}
  

  @keyframes spinToCheck {
    0% {
      transform: rotate(0deg);
      opacity: 1;
    }
    100% {
      transform: rotate(360deg);
      opacity: 0;
    }
  }
  

  @keyframes appear {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

@media screen and (max-width: 768px) {
    .profileContent {
      flex-direction: column; 
      align-items: center; 
      padding-top: 20px;
    }

    .projectWrapper {
      flex-direction: column;
      align-items: center;
    }

    .imageContainer {
      width: 100%; 
    }

    .projectDetails {
      width: 100%;
      text-align: center;
      background: black;
    }

    .photo-wrapper {
      width: 100%; 
      height: auto; 
      margin-bottom: 20px; 
    }
    .profilePhoto {
      width: 100%; 
      max-width: 200px;
      height: auto; 
    }
    .photo-wrapper-overlay {
        height: 88%;
      }
      .tech-list {
        grid-template-columns: repeat(2, 1fr); 
      }
      
      .expContainer {
        flex-direction: column; 
        align-items: center; 
        padding-top: 700px;
        background-color: black;
      }
      .experience-container {
        flex-direction: column; 
        align-items: center;
      }
      .projectContainer{
        padding-top: 300px;
        background-color: black;
      }
  }
  @media screen and (max-width: 480px) {
    .tech-list {
      grid-template-columns: repeat(1, 1fr); 
      text-align: center;
    }
  }

  @media (max-width: 500px) {
    .imageContainer {
      width: 100%;
    }
    .projectDetails {
      width: 100%;
      height: 100%;
      transform: none;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .projectContainer{
      padding-bottom: 140px;
    }
  }
 


  
